:root {
	--gap: 24px;
	--content-gap: 20px;
	--nav-width: 1024px;
	--main-width: 1200px;
	--header-height: 60px;
	--footer-height: 60px;
	--radius: 8px;
	--theme: rgb(255, 255, 255);
	--entry: rgb(255, 255, 255);
	--primary: rgb(30, 30, 30);
	--secondary: rgb(108, 108, 108);
	--tertiary: rgb(214, 214, 214);
	--content: rgb(31, 31, 31);
	--hljs-bg: rgb(28, 29, 33);
	--code-bg: rgb(245, 245, 245);
	--border: rgb(238, 238, 238);
}

.dark {
	--theme: rgb(29, 30, 32);
	--entry: rgb(46, 46, 51);
	--primary: rgb(218, 218, 219);
	--secondary: rgb(155, 156, 157);
	--tertiary: rgb(65, 66, 68);
	--content: rgb(196, 196, 197);
	--hljs-bg: rgb(46, 46, 51);
	--code-bg: #fffefa;
	/* --code-bg: rgb(55, 56, 62); */
	--border: rgb(51, 51, 51);
}

.list {
	background: var(--code-bg);
}

.dark.list {
	background: var(--theme);
}

#title-image {
	max-width: 100%;
}

#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	background-color: rgb(0, 0, 0);
	color: white;
	padding: 10px 20px;
	line-height: 1.1em;
	font-size: 14px;
	border-radius: 20px;
}

@font-face {
	font-family: 'Work Sans';
	src: local('Work Sans Italic'), local('WorkSans-Italic'), url('WorkSans-Italic.woff2') format('woff2'),
		url('WorkSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: local('Work Sans Thin'), local('WorkSans-Thin'), url('WorkSans-Thin.woff2') format('woff2'),
		url('WorkSans-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: local('Work Sans Bold'), local('WorkSans-Bold'), url('WorkSans-Bold.woff2') format('woff2'),
		url('WorkSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: local('Work Sans Regular'), local('WorkSans-Regular'), url('WorkSans-Regular.woff2') format('woff2'),
		url('WorkSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: local('Work Sans Black'), local('WorkSans-Black'), url('WorkSans-Black.woff2') format('woff2'),
		url('WorkSans-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	src: local('Work Sans Light'), local('WorkSans-Light'), url('WorkSans-Light.woff2') format('woff2'),
		url('WorkSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
